<h1>Placeholder for Administering Poll Form</h1>
<form method="POST" action="/poll" id="new-poll">
  Question:<br>
  <input type="text" placeholder="question" name="poll[question]"><br>
  Response A:<br>
  <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]"><br>
  Response B:<br>
  <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]"><br>
  Response C:<br>
  <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]"><br>
  Response D:<br>
  <input type="text" placeholder="enter option" class="poll-response" name="poll[responses][]"><br>
  Admin ID:<br>
  <input type="text" placeholder="enter admin ID" class="poll-admin-id" name="poll[adminId]"><br>
  <button type="submit">Submit</button>
</form>
